﻿@model FormDataViewModel
<div>
    <form asp-action="Create" asp-controller="Home"
          data-ajax="true"
          data-ajax-method="POST">
        <div class="container">
            <div class="form-group row">
                <label asp-for="Fio" class="col-3 col-form-label">ФИО</label>
                <div class="col-9">
                    @Html.EditorFor(model => model.Fio, new { htmlAttributes = new { @class = "form-control" } })
                    <span asp-validation-for="Fio"></span>
                </div>
            </div>

            <div class="form-group row">
                <label label asp-for="PhoneNumber" class="col-3 col-form-label">Телефон</label>
                <div class="col-9">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new {@class = "form-control"}})
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Email" class="col-3 col-form-label">Email</label>
                <div class="col-9">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label">Город</label>
                <div class="col-9">
                    @Html.DropDownListFor(x => x.CityId, Model.Cities, new
                    {
                        @class = "form-control selectpicker",
                        data_width = "auto",
                        data_live_search = "true"
                    })
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-3">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </form>
</div>

<style>
    .field-validation-error {
        color: #b94a48;
    }
  
    .field-validation-valid {
        display: none;
    }
  
    input.input-validation-error {
        border: 1px solid #b94a48;
    }
  
    input[type="checkbox"].input-validation-error {
        border: 0 none;
    }
  
    .validation-summary-errors {
        color: #b94a48;
    }
  
    .validation-summary-valid {
        display: none;
    }
</style>